In [3]:
import pandas as pd

# Define the file paths
input_file_path = r"C:\Users\Kalpesh__K__\Downloads\(Copy) free-7-million-company-dataset\companies_sorted.csv"
output_file_path = r"C:\Users\Kalpesh__K__\Downloads\(Copy) free-7-million-company-dataset\cleaned_companies_sorted.csv"

# Load the data
df = pd.read_csv(input_file_path)

# Display the first few rows to understand its structure
print("Original Data:")
print(df.head())

# Clean the data
# 1. Remove leading and trailing spaces from all string fields
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# 2. Convert 'id' to integer and drop any rows where 'id' is NaN
df['id'] = pd.to_numeric(df['id'], errors='coerce')
df.dropna(subset=['id'], inplace=True)
df['id'] = df['id'].astype(int)

# 3. Fill missing values in other columns (if applicable)
df['year founded'] = df['year founded'].fillna(0).astype(int)  # Corrected column name
df['current employee estimate'] = df['current employee estimate'].fillna(0).astype(int)  # Corrected column name
df['total employee estimate'] = df['total employee estimate'].fillna(0).astype(int)  # Corrected column name

# 4. Drop duplicates based on 'id'
df.drop_duplicates(subset='id', keep='first', inplace=True)

# 5. Ensure that required fields ('name', 'domain') are not empty
df.dropna(subset=['name', 'domain'], inplace=True)

# 6. Remove special characters (if necessary) from string fields, e.g., in 'name' and 'domain'
df['name'] = df['name'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
df['domain'] = df['domain'].str.replace(r'[^a-zA-Z0-9\.\-]', '', regex=True)

# 7. Ensure size_range is valid (e.g., no empty values)
df['size range'] = df['size range'].fillna('Unknown')  # Corrected column name

# Save the cleaned data to a new CSV file
df.to_csv(output_file_path, index=False)

print("Cleaned data saved to:", output_file_path)

Original Data:
        id                       name         domain  year founded  \
0  5872184                        ibm        ibm.com        1911.0
1  4425416  tata consultancy services        tcs.com        1968.0
2    21074                  accenture  accenture.com        1989.0
3  2309813                    us army     goarmy.com        1800.0
4  1558607                         ey         ey.com        1989.0

                              industry size range  \
0  information technology and services     10001+
1  information technology and services     10001+
2  information technology and services     10001+
3                             military     10001+
4                           accounting     10001+

                                 locality         country  \
0       new york, new york, united states   united states
1              bombay, maharashtra, india           india
2                 dublin, dublin, ireland         ireland
3     alexandria, virginia, united states   united states
4  london, greater london, united kingdom  united kingdom

                                     linkedin url  current employee estimate  \
0                        linkedin.com/company/ibm                   274047.0
1  linkedin.com/company/tata-consultancy-services                   190771.0
2                  linkedin.com/company/accenture                   190689.0
3                    linkedin.com/company/us-army                   162163.0
4              linkedin.com/company/ernstandyoung                   158363.0

   total employee estimate
0                 716906.0
1                 341369.0
2                 455768.0
3                 445958.0
4                 428960.0

C:\Users\Kalpesh__K__\AppData\Local\Temp\ipykernel_10604\2490397135.py:16: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

Cleaned data saved to: C:\Users\Kalpesh__K__\Downloads\(Copy) free-7-million-company-dataset\cleaned_companies_sorted.csv